sudo: false
language: python
cache:
  directories:
  - $HOME/gcloud/
env:
- PATH=$PATH:$HOME/gcloud/google-cloud-sdk/bin GOOGLE_APPLICATION_CREDENTIALS=$TRAVIS_BUILD_DIR/python-docs-samples.json
  PYTHONPATH=${HOME}/gcloud/google-cloud-sdk/platform/google_appengine
before_install:
- openssl aes-256-cbc -K $encrypted_2be61c502406_key -iv $encrypted_2be61c502406_iv
  -in silver-python.json.enc -out silver-python.json -d
- if [ ! -d $HOME/gcloud/google-cloud-sdk ]; then mkdir -p $HOME/gcloud && wget https://dl.google.com/dl/cloudsdk/release/google-cloud-sdk.tar.gz
  --directory-prefix=$HOME/gcloud && cd $HOME/gcloud && tar xzf google-cloud-sdk.tar.gz
  && printf '\ny\n\ny\ny\n' | ./google-cloud-sdk/install.sh && cd $TRAVIS_BUILD_DIR;
  fi
- gcloud -q components update gae-python
- if [ -a silver-python.json ]; then gcloud auth activate-service-account --key-file
     silver-python.json; fi
- gcloud config set project silver-python2
install:
- pip install -r requirements.txt
script:
- gcloud -q preview app deploy app.yaml --remote
- python e2e_test.py
